<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="favicon.ico"/>
	<title>Cadastrar um novo Funcionario </title>
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/main.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
 <div class="container">
         <div id="inicio" class="container-fluid table">
            <div>
               <h4 class="title-update">Cadastrar Funcionário</h4>
				<form class="form-group" @submit.prevent="criar">
                  <div>
                     <label for="nome" class="label-form" >Nome:</label>
                     <input class="form-control form-control-lg" id="nome" type="text" v-model="nome" required />
                  </div>
                  <div>
                     <label for="setor" class="label-form" >Setor:</label>
                     <!-- >input class="form-control form-control-lg" id="setor" type="text" v-model="setor" required /-->
                     <select class="form-control form-control-lg" id="setor">
				      <option>TI</option>
				      <option>Almoxarifado</option>
				      <option>Administrativo</option>
				    </select>
                  </div>
                  <div>
                     <label for="salario" class="label-form" >Salário:</label>
                     <input class="form-control form-control-lg" id="salario" type="text" v-model="salario" required />
                  </div>
                  <div>
                     <label for="email" class="label-form" >E-mail:</label>
                     <input class="form-control form-control-lg" id="email" type="email" v-model="email" required />
                  </div>
                  <div>
                     <label for="idade" class="label-form" >Idade:</label>
                     <input class="form-control form-control-lg" id="idade" type="text" v-model="idade" required />
                  </div>
                  <br/>
				<button class="btn btn-primary" type="submit">Cadastrar</button>	
				<a class="btn btn-primary" href="/funcionarios/index.html" role="button" >Voltar</a>						
			</div>			
		</form>
		
</div>
	<script src="../resources/js/vue.js"></script>
	<script src="../resources/js/axios.min.js"></script>
	<script src="../resources/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   </body>
</html>